<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jackw.alfred-workflow.open-in-ide</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>21C2BBA9-2DD6-4710-AB5F-8A7EB1921E12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D72C2477-EBC1-47FD-B4C7-8E38A75306BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D49B9036-6930-4657-9F2C-D386327586E6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8748AFCA-6C9F-46F0-A3D8-63A6F2C6FBD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D37CDC61-21AE-463C-A761-E6AB7B840F31</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3EF5C11B-0D4F-4CB6-9EA8-9E899A8539C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E76E43FB-26E9-487A-8597-3FDE0FD12F8E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28C30E42-4B4E-4BE4-B5B7-0012082E05A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CA9B77E-343D-4C78-806F-7679BD784B8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CA9B77E-343D-4C78-806F-7679BD784B8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21C2BBA9-2DD6-4710-AB5F-8A7EB1921E12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jackw</string>
	<key>description</key>
	<string>Open projects in your favourite IDE</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in IDE</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

cursor $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D72C2477-EBC1-47FD-B4C7-8E38A75306BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

code $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8748AFCA-6C9F-46F0-A3D8-63A6F2C6FBD0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:user_ide}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node dist/esm/index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for a project to open</string>
				<key>title</key>
				<string>Open Project in {var:user_ide}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28C30E42-4B4E-4BE4-B5B7-0012082E05A5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:user_ide}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cursor</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D49B9036-6930-4657-9F2C-D386327586E6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:user_ide}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>code</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D37CDC61-21AE-463C-A761-E6AB7B840F31</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:user_ide}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>webstorm</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E76E43FB-26E9-487A-8597-3FDE0FD12F8E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21C2BBA9-2DD6-4710-AB5F-8A7EB1921E12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>9CA9B77E-343D-4C78-806F-7679BD784B8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

webstorm $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EF5C11B-0D4F-4CB6-9EA8-9E899A8539C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow opens directories in your IDE of choice. Supported IDEs include:

- Cursor
- VS Code
- JetBrains Webstorm

Before using this workflow make sure your IDE terminal command is installed and working as expected.

Configure this workflow by setting the following configuration options:

Projects
This should be a glob pointing to the containing directory of your projects. e.g. ~/dev/projects/*/*

IDE
Select your IDE of choice here. Defaults to Cursor.</string>
	<key>uidata</key>
	<dict>
		<key>21C2BBA9-2DD6-4710-AB5F-8A7EB1921E12</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>28C30E42-4B4E-4BE4-B5B7-0012082E05A5</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>3EF5C11B-0D4F-4CB6-9EA8-9E899A8539C3</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>8748AFCA-6C9F-46F0-A3D8-63A6F2C6FBD0</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>9CA9B77E-343D-4C78-806F-7679BD784B8D</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>D72C2477-EBC1-47FD-B4C7-8E38A75306BD</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/Users/jackw/dev/*/*</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The absolute path to your projects directory in glob format.</string>
			<key>label</key>
			<string>Path to location of projects</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>projects</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cursor</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Cursor</string>
						<string>cursor</string>
					</array>
					<array>
						<string>VS Code</string>
						<string>code</string>
					</array>
					<array>
						<string>JetBrains Webstorm</string>
						<string>webstorm</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Currently supports VS Code, Cursor and Webstorm</string>
			<key>label</key>
			<string>Select your preferred IDE</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>user_ide</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>heywesty.com</string>
</dict>
</plist>
